body {
  margin: auto;
  background: #eaeaea;  
  font-family: 'Open Sans', sans-serif;
}
form h1 {
  font-size: 18px;
  background: #6E6E6E none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  max-width:1700px;
  text-shadow: none; 
  text-align:left
}
header1 {
  border-radius: 5px;
  max-width:1500px;
  width:100%;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
form {
  border-radius: 5px;
  max-width:600px;
  width:100%;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}
p span {
  color: #F00;
}
p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}
input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  width: 90%;
  height: 30px;
  float: left;
  padding: 0px 15px;
}
.form-group {
  overflow: hidden;
  clear: both;
}
.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:30px;
  position: relative;
  text-align: center;
  line-height:40px;
}
i {
  color:#555;
}
.contentform {
  padding: 40px 30px;
}
.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 20px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}
